
/.idea
*.iml
*.xml
/jingli-common/jingli-common-core/target
/jingli-gateway/target
/jingli-common/jingli-common-swagger/target
/jingli-modules/jingli-file/target
/jingli-modules/jingli-gen/target
/jingli-modules/jingli-job/target
/jingli-modules/jingli-system/target
/jingli-common/jingli-common-security/target
/jingli-common/jingli-common-seata/target
/jingli-visual/jingli-monitor/target
/jingli-common/jingli-common-redis/target
/jingli-common/jingli-common-log/target
/jingli-common/jingli-common-datasource/target
/jingli-common/jingli-common-datascope/target
/logs
/jingli-auth/target
/jingli-api/jingli-api-system/target
/.idea
/.idea
.idea/jingli-pile-saas-system-2.iml
.idea/misc.xml
